@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  min-height: 100%;
}

body {
  background: linear-gradient(#f0f6f8, #e0e1e7);
}

main {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #fdfdfda8;
  color: #f0f6f8;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

header h1 {
  margin: 0;
  font-size: 1.75rem;
  color: #5a5a5a;
}

label {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #8c8c8c;
}

input {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  background-color: #dcdde4;
  border: none;
  border-radius: 4px;
}

form button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #fcd242;
  border: none;
  border-radius: 4px;
  font: inherit;
  font-weight: bold;
  color: #3a4346;
  cursor: pointer;
}

form button:hover {
  background-color: #fddd73;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

li {
  background-color: #363636;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

li article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

li h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #cfdadb;
}

li p {
  margin: 0;
  font-size: 0.85rem;
  color: #b7b7b7;
}

li button {
  font: inherit;
  padding: 0 0.5rem;
  background: transparent;
  border: none;
  color: #909a9a;
  cursor: pointer;
}

li button:hover {
  color: #f9a73b;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #232323;
  padding: 0.3rem;
  width: fit-content;
}

.logo img {
  height: 35px;
  width: 35px;
}

.logo-txt {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  color: #232323;
}

.logo-txt h1,
.logo-txt span {
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 4px;
  text-align: start;
}

.logo-txt h1 {
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 2px;
}

.logo-txt span {
  font-weight: lighter;
  font-size: 0.85rem;
}

::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
